<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>
<body>
    <div class="title">
        <h1>Siva Creation's</h1>
        <h3>Web Scrapping</h3>
        <hr class="under">
    </div>

    <div class="box">
        <form action="/" method="POST" autocomplete="off">
            <label for="searchbox">Search item :</label>
            <input type="text" name="usearch" id='searchbox' required > <br>
            <span class="filter">Apply filter If required</span>
            <br>
            <label for="">Filter By star : </label>
            <input type="text" placeholder="4.3" name="star">
            <br>
            <label for="">Filter By Price</label>
            <input type="text" placeholder="15000" name="price">
            <br>
            <input type="submit" value="search" id="searchbtn">
        </form>
    </div>
    
</body>
</html>